@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i|Raleway:400,600,700');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Noto Serif", Arial, sans-serif;
	color: #1B1B1B;
	font-size: 16px;
}

h1 {
	font-size: 2.2em;
	color: #1B1B1B;
	margin-bottom: 1.8em;
	font-family: "Raleway", bold, sans-serif;
}

h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 1.2em;
	color: #1B1B1B;
	margin: 0 0 1em 0;
}

h3 {
	font-family: "Raleway", sans-serif;
	text-align: center;
	font-size: 1.1em;
	color: #361FB2;
	padding: 0 0 1em 0;
}

h5 {
	font-family: "Raleway", sans-serif;
	text-align: center;
	font-weight: 700;
}

p {
	margin: 0 0 .85em 0;
	line-height: 1.25;
}

a {
	text-decoration: none;
	color: white;
}

header {
	color: #1B1B1B; 
}

nav {
	float: right;
}

footer {
	padding: .2em;
	text-align: center;
	background-color: #9778B7;
}

nav a {
	font-family: "Raleway", sans-serif;
	font-weight: 200;
	text-decoration: none;
	padding: .2em .5em;
	color: #1B1B1B;
}

a:hover {
	color: #8CAF69;
}

#AboveFold {
	color: #1B1B1B;
	background-image: url("../images/flower_reaching_for_the_sun.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 92vh;
	padding: 5em 0 0 0;
	text-align: center;
}

#AboveFold div {
    width: 50em;
    margin: 0 auto;
}

#AboveFold h2 {
	margin-bottom: 8em;
	font-size: 1.6em;
	font-weight: 300;
}

.cta {
    display: block;
    padding: .5em 1em;
    color: #1B1B1B;
    text-decoration: none;
    background: rgba(255,255,255,.75);
    margin: 1em auto;
    font-size: 1.5em;
    width: 70vh;
}

#guide {
	padding: 1em;
    background: #8CAF69;
    color: #fff;
    font-family: "Raleway", sans-serif;
    height: 8vh;
    text-align: center;
}

#guide h2,h4,form,button {
	display: inline;
}

#guide h4 {
	padding: 0 0 0 .25em;
}

#guide form {
	padding: 0 0 0 1em;
	font-size: .7em;
	font-style: italic;
}

#guide input {
	padding: 0 1em;
}

#BelowFold {
	margin-top: .25em;
	text-align: center;
}

#BelowFold section {
	padding: 2em;
}

.work {
	text-align: center;
	width: 33.3%;
	float: left;
	padding: 0 2em;
}

.work h3 {
	padding: 0 0 .5em 0;
}

#me {
	background: #D1DFC3;
}

#guess h5 {
	padding: 1em 0 0 0;
	font-size: 1.4em;
}

#magnificent {
	font-size: 1.2em;
	font-style: italic;
}

#step {
	padding: 1em 0 0 0;
	font-size: 1.5em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#footnav {
	display: none;
}

@media screen and (max-width: 1105px) {
	form,input,button {
		display: inline-flex;
	}

	input,button{
		margin: 0 .5em;
	}

	form {
		margin: 1em 0;
	}
}

@media screen and (max-width: 805px) {
	body {
		font-size: 14px;
	}

	h2 {
		max-width: 70%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 700px) {
	body {
		font-size: 12px;
	}

	h1 {
		max-width: 85%;
		margin: 0 auto 3em;
	}
}

@media screen and (max-width: 605px) {
	nav {
		display: none;
	}

	#footnav {
		display: block;
		text-align: center;
		float: none;
	}

	#footnav a {
		display: block;
		border-bottom: 2px black solid;
		border-width: 80%;
		padding: .5em 0;
	}
}

@media screen and (max-width: 568px) {
	h1 {
		max-width: 65%
	}

	h2 {
		margin: 0 auto 1em;
		max-width: 55%
	}

	.work {
		float: none;
		width: auto;
		margin: 0 auto;
	}

	.cta {
		width: 50%;
		margin: 0 auto;
	}
}


@media screen and (max-width: 505px) {
	body {
		font-size: 11px;
	}

	#guide {
		display: none;
	}

}

@media screen and (max-width: 455px) {
	h1 {
		max-width: 45%
	}

	h2 {
		max-width: 35%
	}

}
