@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i|Raleway:400,700');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Noto Serif", Arial, sans-serif;
	color: #1B1B1B;
	font-size: 18px;
}

h1 {
	font-size: 2.1em;
	color: #1B1B1B;
	margin-bottom: .5em;
	font-family: "Raleway", bold, sans-serif;
}

h2 {
	font-size: 1.6em;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
}

h3 {
	font-family: "Raleway", sans-serif;
	font-size: 1.3em;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: white;
}

nav {
	text-align: right;
	background-color: #2962bb;
	color: #ffffff; 
	padding: .5em;
}

footer {
	padding: 1em;
	text-align: center;
	background-color: #E36C03;
}

nav a {
	font-family: "Raleway", sans-serif;
	font-weight: 200;
	text-decoration: none;
	padding: .2em;
	margin: 1em auto;
}

aside {
	float: right;
}

.work {
	text-align: center;
}

.cta {
    display: inline-block;
    padding: .5em 1em;
    color: #fff;
    text-decoration: none;
    background: #E36C03;
    margin-top: 1em;
    font-size: 1.5em;
}

section#guide {
	padding: .5em;
    background: #2962bb;
    color: #fff;
    font-family: "Raleway", sans-serif;
}

#logo {
	align: left;
}

#AboveFold {
	color: #1B1B1B;
	background-image: url("../images/flower_reaching_for_the_sun.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 75vh;
	padding: 3em 0 0;
	text-align: center;
}
#AboveFold div {
    width: 50em;
    margin-left: 9em;
}

#AboveFold h1 {
	margin-bottom: 1.8em;
}

#AboveFold h2 {
	margin-bottom: 6em;
}

#BelowFold {
	margin-top: 2em;
	text-align: center;
}

#BelowFold h4 {
	text-align: center;
	font-size: 1.1em;
	color: #361FB2;
}

#me {
	padding: 1em;
	background: url("../images/lpdcoaching.jpg") no-repeat;
}

#magnificent {
	font-size: 1.3em;
	font-style: italic;
}